@charset "utf-8";

/*COLORS #8a8a8a #f6254c #6F9854 #ECEFEE #D7D9DA */


* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Bree Serif', serif;
  color: #8a8a8a;
  line-height: 1.8;
}

header,section,footer {
  max-width: 800px;
  background-image: url("../images/fond.png");
  margin: auto;
}

.intro {
  max-width: none;
  text-align: center;
  padding: 10%;
  background-image: url("../images/bg_header.png");
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
