@charset "utf-8";
html, body {
    font-size: 16px;
}

ul {
    font-size: 40px;
}

ul li {
    font-size: 2em;
}

#idA {
    background-color: goldenrod;
}

#idB {
    background-color: midnightblue;
    padding: 50px 10px;
}

.classC p:first-child {
    margin-bottom: 20px;
    font-size: 2em;
}

.classC p:last-child {
    background-color: lime;
    border-top: 1px solid black;
    margin-top: 20px;
}

@media screen and (max-width: 416px) {
    html, body {
        font-size: 90%;
    }
}

ul li:not(.not):hover {
    color: lime;
}

* {
    display: none
}
