@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import "../fonts/font-awesome/css/font-awesome.css";
@import 'https://fonts.googleapis.com/css?family=Courgette';
body {
    font-family: 'Open sans', cursive;
    line-height: 1.8;
    color: #34495e;
}

main.page section:last-of-type {
    margin-bottom: 40px;
}

a {
    color: #4ac3b4;
}

a:hover {
    text-decoration: none;
}

nav a, h1, h2, h3, h4 {
    font-family: 'Courgette', cursive;
}

nav li a {
    font-size: 1.8em;
}

.nav>li {
    vertical-align: middle;
    word-break: keep-all;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
    word-break: keep-all;
}

nav .fa {
    display: block
}

#carousel-home {
    margin-left: -15px;
    margin-right: -15px;
}

#carousel-home a.left, .carousel a.right {
    background: none;
}

#carousel-home .carousel-caption {
    padding: 4em;
    top: 50%;
    right: 0;
    left: 0;
    bottom: inherit;
    transform: translateY(-50%);
    background-color: rgba(117, 209, 198, .9);
    text-shadow: none;
    font-family: 'Courgette', cursive;
}

#carousel-home h3 {
    font-size: 3.5em;
}

#carousel-home .carousel-caption p {
    font-size: 2em;
}

#promo {
    padding: 40px;
    font-size: 2em;
}

.bgBlue {
    color: white;
    background-color: #4ac3b4;
}

.bgGreen {
    color: white;
    background-color: #b7b12e;
}

#description {
    padding: 40px;
}

#features {
    font-size: .9em;
}

#features>div {
    padding: 30px;
}

#features h2 {
    font-size: 1.5em;
}

#features img {
    max-width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#map {
    line-height: 0;
}

#map iframe {
    width: 100%;
}


/*.table, .table-bs {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}*/

.table-bs, .table-bs div div {
    border: solid 1px #ddd;
}

.table-bs .row:nth-of-type(2n+2) {
    background-color: #f9f9f9;
}

.form-control {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: unset;
    border-radius: unset;
    border-bottom-color: #4ac3b4;
    color: #4ac3b4;
}

label::before {
    font-family: "FontAwesome";
    font-size: 1.5em;
    margin-right: 10px;
    display: inline-block;
    vertical-align: sub;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4ac3b4;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #4ac3b4;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #4ac3b4;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #4ac3b4;
}

.checkbox-inline, .radio-inline, .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    vertical-align: top;
    padding: 0;
    margin: 30px 20px;
}

.checkbox-inline label, .radio-inline label {
    font-weight: normal;
}

.checkbox-inline input[type=checkbox], .radio-inline input[type=radio] {
    visibility: hidden;
    margin: 0;
    padding: 0;
}

input[type=radio]+label:before {
    content: "\f10c";
}

input[type=radio]:checked+label:before {
    content: "\f111";
}

input[type=checkbox]+label:before {
    content: "\f096";
}

input[type=checkbox]:checked+label:before {
    content: "\f046";
}

select.form-control {
    border: 1px solid #4ac3b4;
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/*.select-wrapper {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    margin-top: 40px;
}

.select-wrapper:after {
    content: "\f0dc";
    font-family: FontAwesome;
    padding: 8px;
    position: relative;
    right: 35px;
    top: 0px;
    background: red;
    z-index: -1;
    width: 10%;
    line-height: 10%;
}*/

.btn-default {
    background-color: #4ac3b4;
    color: white;
    padding: 10px 30px;
    margin: 8px auto;
    border-radius: 0;
    border: none;
}

footer {
    padding: 40px;
}

.giveMeSpaceTop {
    margin-top: 3em;
}

.giveMeSpaceBoth {
    margin-top: 3em;
    margin-bottom: 3em;
}

.giveMeSpaceBot {
    margin-bottom: 3em;
}


/*RESPONSIVE*/

@media screen and (max-width:768px) {
    #carousel-home .carousel-caption {
        padding: 1em;
    }
    #carousel-home .carousel-caption p {
        font-size: 1.5em;
    }
    #carousel-home h3 {
        font-size: 2.8em;
    }
    .table-bs div div a {
        display: block;
        width: 80%;
        background-color: #4ac3b4;
        color: white;
        padding: 10px 30px;
        margin: 8px auto;
        /* margin: auto; */
    }
    .table-bs div div {
        text-align: center;
    }
    .table-bs div:nth-of-type(n+2) div:nth-of-type(1) {
        border-bottom: none;
        padding-top: 10px;
    }
    .table-bs div:nth-of-type(n+2) div:nth-of-type(2) {
        border-top: none;
        border-bottom: none;
    }
    .table-bs div:nth-of-type(n+2) div:nth-of-type(3) {
        border-top: none;
        padding-bottom: 10px;
    }
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
