@charset "utf-8";

/*@import "https://fonts.googleapis.com/css?family=Cardo|Special+Elite";*/

@font-face {
    font-family: "SpecialElite";
    src: url("../fonts/specialelite/SpecialElite-Regular.woff") format("woff");
    src: url("../fonts/specialelite/SpecialElite-Regular.eot") format("eot");
    src: url("../fonts/specialelite/SpecialElite-Regular.svg") format("svg");
    src: url("../fonts/specialelite/SpecialElite-Regular.ttf") format("ttf");
    src: url("../fonts/specialelite/SpecialElite-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cardo";
    src: url("../fonts/cardo/Cardo-Regular.woff") format("woff");
    src: url("../fonts/cardo/Cardo-Regular.eot") format("eot");
    src: url("../fonts/cardo/Cardo-Regular.svg") format("svg");
    src: url("../fonts/cardo/Cardo-Regular.ttf") format("ttf");
    src: url("../fonts/cardo/Cardo-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cardo";
    src: url("../fonts/cardo/Cardo-Italic.woff") format("woff");
    src: url("../fonts/cardo/Cardo-Italic.eot") format("eot");
    src: url("../fonts/cardo/Cardo-Italic.svg") format("svg");
    src: url("../fonts/cardo/Cardo-Italic.ttf") format("ttf");
    src: url("../fonts/cardo/Cardo-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cardo";
    src: url("../fonts/cardo/Cardo-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Cardo", serif;
    color: #585858;
    font-size: 1.1em;
    background-size: 100% 1.5em;
    background-image: -webkit-linear-gradient(#eee .05em, transparent 1px);
    background-image: -moz-linear-gradient(#eee .05em, transparent 1px);
    background-image: linear-gradient(#eee .05em, transparent 1px);
}

header, main, footer {
    width: 50%;
    min-width: 400px;
    margin: auto;
}

h1, h2, h3 {
    font-family: "SpecialElite", cursive;
    font-weight: normal;
    word-wrap: break-word;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    line-height: 1.2;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
}

h3::before {
    content: "❧ "
}

p {
    text-align: justify;
}

h2+p::first-letter {
    font-size: 2.7em;
    float: left;
    margin: 10px 8px 0 0;
}

blockquote {
    font-size: 0.9em;
    font-style: italic;
}

blockquote p:before {
    content: "“ "
}

blockquote p:after {
    content: " ”"
}

footer {
    padding-top: 1em;
}

header blockquote, footer blockquote {
    margin-left: 0;
    margin-right: 0;
}

header blockquote p {
    width: 50%;
    text-align: left;
}

footer p {}

header cite, footer cite {
    display: block;
    text-align: right;
}

.spacer {
    text-align: center;
    font-size: 4em;
    line-height: 2em;
}

@media screen and (max-width: 416px) {
    html, body {
        font-size: 90%;
    }
    header, main, footer {
        width: 90%;
        min-width: inherit;
        margin: 5%;
    }
}
