// out: styles.css, sourcemap: true, compress: true
@charset "utf-8";
/*COLORS */
// #F2F2F2 #96B011 #E26A6A #F4B350 #4ECDC4
@cot_lightGrey: #F2F2F2;
@cot_grey: #666666;
@cot_green: #96B011;
@cot_red: #E26A6A;
@cot_yellow: #F4B350;
@cot_blue: #4ECDC4;

* {
    box-sizing: border-box;
    outline: none;
}

html,body  {
  min-width: 340px;
}

body {
    background-color: @cot_lightGrey;
    font-family: 'Open Sans', sans-serif;
    color: @cot_grey;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Amaranth', sans-serif;
    font-weight: normal;
}

h2 {
    margin: 0;
}

h4 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

header a, footer a {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

header a:hover, footer a:hover {
  opacity: .5;
}

.shadow {
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

header {
    background: @cot_green url("/images/bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
}

section {
    max-width: 75%;
    margin: 3rem auto 0;
}
/* ########## HEADER ########## */
.banner {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    padding: 0.6rem;
    font-size: 0.8rem;
}

header section {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#cart,
#logo {
    margin: 2rem;
}

#cart {
    color: white;
    text-align: right;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#cart span {
    display: block;
    font-size: 0.8rem;
}

#cart i {
    margin-left: 0.5rem;
    font-size: 3rem;
    opacity: 0.6;
}

#wrapper {
    width: 100%;
}

nav {
    margin: 0 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav a {
  position: relative;
    text-align: center;
    margin: 2rem 0.5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 8px 0;
}

nav a:after{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: white;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

nav a:hover:after,
nav a:focus:after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.mobileMenu {
    display: none;
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    color: @cot_green;
    border-radius: 50%;
}

.mobileMenu i {
    font-size: 1.5rem;
}
/* ########## HEADER ########## */
/* ########## FEATURED ########## */
.featured {
    border: solid white 1rem;
    position: relative;
}

.featured-caption {
    position: absolute;
    top: 2rem;
    left: 0;
    background-color: @cot_green;
    background: fade(@cot_green, 80%);
    padding: 0 2rem;
    color: white;
}

.featured h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
/* ########## FEATURED ########## */
/* ########## TEA CATEGORY ########## */
.tea-cat {
    background-color: white;
    padding: 1rem;
}

.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.category {
    padding: 1rem 0;
    flex: 1;
    min-width: 130px;
    color: @cot_grey;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.categories:hover .category {
    opacity: 0.5;
}

.categories:hover .category:hover {
    opacity: 1;
}

.category img {
    display: block;
    margin: auto;
}
/* ########## TEA CATEGORY ########## */
/* ########## PRODUCTS SHOWROOM ########## */
.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

// HOVERS

.products:hover .product {
  opacity: .5;
}

.products:hover .product:hover {
  opacity: 1;
}

.product {
    background-color: white;
    flex: 1;
    min-width: 210px;
    margin: 2rem 1rem;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.product:first-child {
    margin-left: 0;
}

.product:last-child {
    margin-right: 0;
}

.product > a {
    color: @cot_grey;
    text-align: center;
}

.product > a > img {
    max-width: 80%;
    margin: 1rem auto;
    display: block;
}

.product h2 {
    color: white;
    padding: 0.6rem 0 0.6rem 2.5rem;
    text-align: left;
}

.product-title {
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 1.5rem;
}

.description {
    font-size: 0.8rem;
    padding-bottom: 1.5rem;
}

.hot-new h2 {
    background: @cot_red url("/images/title.png");
    background-repeat: no-repeat;
    background-position: 0.8rem;
}

.best-sellers h2 {
    background: @cot_yellow url("/images/title.png");
    background-repeat: no-repeat;
    background-position: 0.8rem;
}

.our-favorite h2 {
    background: @cot_blue url("/images/title.png");
    background-repeat: no-repeat;
    background-position: 0.8rem;
}
/* ########## PRODUCTS SHOWROOM ########## */
/* ########## FOOTER ########## */
footer {
    background-color: @cot_green;
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 1.2rem;
    background: @cot_green url("/images/bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
}

footer a {
    color: white;
}

footer ul {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
}

.features {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.feature {
    padding: 2rem 1rem;
}

.feature i {
    display: block;
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.side-infos {
    margin: 1.2rem;
}

.side-infos h4 {
    margin: 1.2rem auto;
}

.side-infos li {
    font-size: 0.9rem;
    line-height: 2;
}
/* ########## FOOTER ########## */
@media screen and (max-width: 960px) {
    section {
        max-width: inherit;
        margin: 3rem 3rem 0;
    }
}
@media screen and (max-width: 800px) {
    header section {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .product,
    .product:first-child,
    .product:last-child {
        flex: 0;
        min-width: 75%;
        margin: 2rem auto;
    }

    .features {
        justify-content: center;
    }

    .categories {
        flex-flow: column;
        align-items: center;
    }
}
@media screen and (max-width: 650px) {
    header section {
        margin: 0;
    }

    #cart,
    #logo, .mobileMenu {
       flex-shrink: 1;
        margin: .5rem;
    }

    #logo {
      flex: 1;
      margin-left: 1rem;
    }

    .mobileMenu {
      margin-right:1rem;
    }

    .banner {
        display: none;
    }

    #cart i {
        font-size: 1.5rem;
        color: @cot_green;
        opacity: 1;
    }

    #cart {
        width: 2.5rem;
        height: 2.5rem;
        background-color: white;
        border-radius: 50%;
    }

    #cart p {
        display: none;
    }

    #wrapper {
        overflow: hidden;
    }

    #ouvrir,
    #wrapper:target #fermer,
    .mobileMenu {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }

    #wrapper {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
    }

    #wrapper:target {
        padding-bottom: 2rem;
        max-height: 200px;
    }

    #fermer,
    #wrapper:target #ouvrir {
        display: none;
    }

    nav {
        flex-flow: column;
    }

    nav a {
        margin: 0.5rem;
    }
}
@media screen and (max-width: 550px) {
    .featured-caption {
        position: relative;
        top: auto;
        left: auto;
        overflow: hidden;
    }

    .product,
    .product:first-child,
    .product:last-child {
        flex: 1;
        margin: 2rem 0;
    }

    .features,
    footer {
        flex-flow: column;
    }

    .feature {
        padding: 0.5rem 1rem;
    }

    .features {
        padding: 1rem;
    }
}
